<h1 class="sr-only">Search Results</h1>
<small>{{searchResults.result_count}} results found</small>

{{#each searchResults.listing as | result index | }}
  <div class="results__media">
    <img src="{{result.image_url}}" alt="{{result.num_bedrooms}} bed {{result.property_type}} for sale" />
  </div>
  <div class="results__meta">
    <h2 class="results__title">{{{propertyTitleHelper result}}}</h2>
    <span class="results__price">{{{priceHelper result.price}}}</span>
    <p class="results__desc">{{result.description}}</p>
  </div>
  <div class="results__agents-info">
    <img class="results__agents-logo" src="{{result.agent_logo}}" alt="{{result.agent_name}}" />
    <h3 class="results__agents-name">{{result.agent_name}}</h3>
    <address class="results__agents-address">{{{agentAddressHelper result}}}</address>
    <a class="results__agents-phone" href="tel:{{result.agent_phone}}">{{result.agent_phone}}</a>
  </div>
{{/each}}
